/*  ==========================================================================
    Normalize
    ==========================================================================  */
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-size: 13px;
    color: #353535;
    padding: 0 10px;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}
.hidden {
    display: none !important;
}
.block {
    display: block !important;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.album-teaser {
    position: relative;
    padding: 1px 1px 5px 1px;
    border: 1px solid #999;
}    
.album-teaser-cover {
    float: left;
}
.album-teaser-cover img {
    display: block;
    width: 80px;
    height: 80px;
}    
.album-teaser-info {
    padding: 5px 40px 0 90px;
}
.album-playlist-toggler {
    position: absolute;
    text-align: center;
    padding: 7px 5px;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
}
.toggle-arrow {
    display: inline-block;
    width: 20px;
    height: 12px;
    background-image: url('../img/arrow_down.png');
    background-size: contain;
}
.toggle-arrow.up {
    background-image: url('../img/arrow_up.png');
}
.album-control {
    float: left;
    width: 40px;
    height: 40px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.album-control.play {
    background-image: url('../img/play.png');
}
.album-control.pause {
    background-image: url('../img/pause.png');
}
.album-songs {
    text-align: right;
    padding-top: 20px;
}
.audio-wrapper {
    padding: 0 0 10px 0;
}
.album-playlist .audio-wrapper {
    padding: 0;
    border: 1px solid #999;
    border-top: 0;
}
.audio-player {
    height: 44px;
    display: table;
    width: 100%;
    padding: 5px;
}
.audio-player.active {
    background: #FFC061;
}
.audio-control,
.audio-time {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 44px;
}
.audio-time {
    padding: 0 5px;
}
.audio-control.play,
.audio-control.pause{
    width: 40px;
    height: 40px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left center;
}
.audio-control.play {
    background-image: url('../img/play.png');
}
.audio-control.pause {
    background-image: url('../img/pause.png');
}
.audio-progress {
    position: relative;
    width: 100%;
    height: 46px;
    background: #fff;
    border: 1px solid #333;
    overflow: hidden;
}
.audio-progress .progress,
.audio-progress .loaded {
    position: absolute;
    left: 0px;
    height: 44px;
    width: 0%;
}
.audio-progress .progress {
    background: #999;
    z-index: 1;
}
.audio-progress .loaded {
    background: #ddd;
}