/*  ==========================================================================
    Normalize
    ==========================================================================  */
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-size: 13px;
    color: #353535;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}
h1 {
    padding: 0 7px;
}
.hidden {
    display: none !important;
}
.block {
    display: block !important;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}


/*  ==========================================================================
    Album Teaser
    ==========================================================================  */
.album-teaser {
    background: #ececec;
}    
.album-teaser-cover {
    float: left;
}
.album-teaser-cover img {
    display: block;
    width: 102px;
    height: 102px;
}    
.album-teaser-info {
    padding: 12px 10px 0 112px;
}
.album-title {
    font-size: 16px;
    padding: 0 0 5px 0;
}
.album-player {
    display: table;
    width: 100%;
    height: 50px;
}
.album-control,
.album-songs,
.album-playlist-toggler {
    display: table-cell;
    vertical-align: middle;
}
.album-control,
.album-playlist-toggler{
    width: 45px;
}
.album-playlist-toggler{
    text-align: right;
}

/*  ==========================================================================
    Album Playlist
    ==========================================================================  */
.audio-player {
    display: table;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #bbb;
}
.audio-player.active {
    background: #d9d9d9;
}
.audio-control {
    display: table-cell;
    position: relative;
    width: 55px;
    vertical-align: top;
    padding: 8px 10px 0 10px;
}
.audio-title {
    float: left;
}
.audio-time {
    float: right;
    padding: 0 0 0 5px;
}
.audio-metadata {
    display: table-cell;
    padding: 12px 10px 7px 8px;
}
.noncustomer .audio-metadata {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}
.audio-progress {
    position: relative;
    width: 100%;
    height: 15px;
    overflow: hidden;
    padding: 5px 0 0 0;
}
.audio-progress .progress,
.audio-progress .progress-bg,
.audio-progress .loaded {
    position: absolute;
    left: 0px;
    height: 10px;
    width: 0%;
}
.audio-progress .progress {
    background: #0a3d7d;
    z-index: 1;
}
.audio-progress .progress-bg {
    background: #bbb;
    width: 100%;
}
.audio-progress .loaded {
    background: #aaa;
}
.audio-download {
    display: table-cell;
    width: 45px;
    vertical-align: top;
    padding: 8px 10px 0 0;
}


/*  ==========================================================================
    Icons
    ==========================================================================  */
.ic-arrow,
.ic-play-pause,
.ic-download,
.ic-mail { 
    display: inline-block;
    background: url('../img/sprite/dest/player-icons@2x.png') no-repeat;
    background-size: 37px 172px;
}
.ic-arrow {
    width: 20px; 
    height: 13px;
    background-position: -1px -158px;
}
.up .ic-arrow {
    background-position: -1px -144px;
}
.ic-play-pause,
.ic-mail,
.ic-download {
    width: 35px;
    height: 35px;
    background-position: -1px -36px;
}
.pause .ic-play-pause {
    background-position: -1px -0px;
}
.waiting .ic-play-pause {
    position: absolute;
    width: 16px;
    height: 11px;
    background-image: url('../img/loader.gif');
    background-size: initial;
    background-position: initial;
    top: 20px;
    left: 19px;
}
.ic-download {
    background-position: -1px -72px;
}
.ic-mail {
    background-position: -1px -108px;
}